#plugin__upgrade {
    margin: 0 auto;
    width: 90%;
    height: 20em;
    overflow: auto;
}

#plugin__upgrade_form {
    display: block;
    margin: 0 auto 3em auto;
    width: 20em;
}

#plugin__upgrade_form input.continue {
    float: right;
}

#plugin__upgrade_form input.abort {
    float: left;
}
